name: Publish Docker image
on:
  push:
    branches: master
    
jobs:
  checkout_push:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.2
      name: Check out code

    - uses: mr-smithers-excellent/docker-build-push@v4
      name: Build & push Docker image
      with:
        image: log-reader
        tag: 1.0
        registry: registry.digitalocean.com/c-shell
        username: ${{ secrets.CSHELL_TOKEN }}
        password: ${{ secrets.CSHELL_TOKEN }}
